/* home */
.nmhs-header{background-color: #03A9F4;}
.nmhs-header h1{margin-top: 0; margin-bottom: 0; padding-top: .5em; padding-bottom: .5em; letter-spacing:5px;}
.jmb-hm{background-image: url("../images/css/n2y2.png"), url("../images/css/nm.jpg");background-size: auto, 100% 100%;background-repeat: repeat, no-repeat;position: relative;box-shadow: 0px 5px 5px #888888;}
.mrgtop{margin-top: 200px;}
.jmb-bottom{position: absolute;bottom: 0;font-weight: bolder;display: inline-block;background-color: #f1c40f;color: blue;padding: .5em;}
marquee{color: red; margin-top: 5px;}


.in-error{background-color: #fda9ad; color: #400000; margin: 0; padding-left: 3px;}
.hideIt{visibility: hidden;}
.up-case{text-transform: uppercase;}
 
 .gl-spin {
  -webkit-animation: spin .7s infinite linear;
  -moz-animation: spin .7s infinite linear;
  -o-animation: spin .7s infinite linear;
  animation: spin .7s infinite linear;
     -webkit-transform-origin: 50% 58%;
         transform-origin:50% 58%;
         -ms-transform-origin:50% 58%; /* IE 9 */
}

.modal .panel-title a:hover, .modal .panel-title a:focus, .modal .panel-title a:active{
    color: yellow;
}
option[value=""]{display: none;}

.mandatory{color: red; font-weight: bolder;}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
/*footer*/

 footer{background-color: #000d1d; padding-top: 10px; padding-bottom: 60px; margin-top: 50px;}

 .copyright, .footer-help{color: #f24c03; font-size: 1.1em;}
 .copyright a{color: #f24c03;}
 footer address{color: #aaa;}
 footer address a{color: #0487d2;}
 footer address a:hover{color: #eee; text-decoration: none;}
 .mybrand{font-size: 1.2em;}
            
/*end footer */

/* Dashboard */
.statics-holder{
	background-color: #eee;
	padding: 10px;
	margin-bottom: 10px;
}
.date-style{
    font-size: 3.5vh;
    color: darkblue;
}

a.hvr:hover{
	background-color: red;
	color: #fff;
}
.export{
	width: 100%;
	margin-bottom: 10px;
}

.sidebar aside ul li a:hover, .sidebar aside ul li a:focus, .sidebar aside ul li a:active {text-decoration: none; color: orangered;}


/* End: Dashboard */

/* photo upload new */
    #button-container{margin-bottom: 20px;}
    .img-gray {
    -webkit-filter: opacity(60%); /* Safari */
    filter: opacity(60%);
    }
    .fred{color: red;}
    #msg-format, #msg-size{font-size: 1.5em;}
    #btn-upload{margin: 10px;}
    .hideIt{visibility: hidden;}
/* end photo upload new */

/* success */
.jmb-success{
	background-color: #292626;
	color: #60ab63;
}
.jmb-success h4{ color: greenyellow;}
.succ-ul{
	font-size: 1.5em;
    
}

ul.style-list{
    list-style: none;
    padding: 0;  
}



.style-list li{
    background-color: #eee;;
    
    padding: 5px;
    margin-bottom: .5em;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-left: 10px solid black;
    line-height: 150%;
    font-size: 1.2em;
}



/* end - success */


/* overview */
.ov-wrapper{
	background-color: #eee;
	margin: 20px 10px;
	padding: 15px;
    position: relative;
    border-left: 3px solid teal;
    
    
}

.ov-wrapper:hover{
box-shadow: 0px 2px 2px #bbb;
}

.ov-wrapper h4{
	color: snow;
	background-color: #212121;
	display: inline-block;
	padding: 3px 14px;
}

.ov-wrapper p{
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 1.2em;
}

.ovr-status{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #af8efa;
    padding-left: 3px;
    padding-right: 3px;
    box-shadow: -3px 0px 2px #bbb;
    
}
.ovr-status p{
    font-size: .95em;
   
}

.strike{
    text-decoration: line-through;
}

.overview-icon-holder
{
    display: inline-block;
    background: white;
    padding: 2px 15px 2px 5px;
}
.overview-icon-holder i{color : black; margin-left: 1px;}
/* end: overview */