/* home */
.nmhs-header{background-color: #03A9F4;}
.nmhs-header h1{margin-top: 0; margin-bottom: 0; padding-top: .5em; padding-bottom: .5em; letter-spacing:5px;}
.jmb-hm{background-image: url("../images/css/n2y2.png"), url("../images/css/nm.jpg");background-size: auto, 100% 100%;background-repeat: repeat, no-repeat;position: relative;box-shadow: 0px 5px 5px #888888;}
.mrgtop{margin-top: 200px;}
.jmb-bottom{position: absolute;bottom: 0;font-weight: bolder;display: inline-block;background-color: #f1c40f;color: blue;padding: .5em;}
marquee{color: red; margin-top: 5px;}


.in-error{background-color: #fda9ad; color: #400000; margin: 0; padding-left: 3px;}
.hideIt{visibility: hidden;}
.up-case{text-transform: uppercase;}
 
 .gl-spin {
  -webkit-animation: spin .7s infinite linear;
  -moz-animation: spin .7s infinite linear;
  -o-animation: spin .7s infinite linear;
  animation: spin .7s infinite linear;
     -webkit-transform-origin: 50% 58%;
         transform-origin:50% 58%;
         -ms-transform-origin:50% 58%; /* IE 9 */
}

.modal .panel-title a:hover, .modal .panel-title a:focus, .modal .panel-title a:active{
    color: yellow;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 
/*footer*/

 footer{background-color: #000d1d; padding-top: 10px; padding-bottom: 60px; margin-top: 50px;}

 .copyright, .footer-help{color: #f24c03; font-size: 1.1em;}
 .copyright a{color: #f24c03;}
 footer address{color: #aaa;}
 footer address a{color: #0487d2;}
 footer address a:hover{color: #eee; text-decoration: none;}
 .mybrand{font-size: 1.2em;}
            
/*end footer */

/* Dashboard */
.statics-holder{
	background-color: #eee;
	padding: 10px;
	margin-bottom: 10px;
}
.date-style{
    font-size: 3.5vh;
    color: darkblue;
}

a.hvr:hover{
	background-color: red;
	color: #fff;
}
.export{
	width: 100%;
	margin-bottom: 10px;
}

/* End: Dashboard */